@import "variables.scss";
@import "mixins.scss";

body {
    @include body-font;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    @include body-font;
}

h1 {
    @include heading-font;
    font-size: 2rem;
    line-height: 120%;
    padding-bottom: 10px;
}

h2 {
    display: inline;
    @include heading-font;
    font-size: 4rem;
    line-height: 120%;
    margin-bottom: -10px;
}

h3 {
    @include heading-font;
    font-size: 2rem;
    line-height: 120%; 
    margin-top: 15px;
    margin-bottom: -10px;
}


hr {
    max-width: 20%;
}

.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.nav-container {
    padding: 15px 50px;    
    .navbar-link {
        @include heading-font;
        text-decoration: none;
        font-size: 1.4rem;
        color: $theme-primary;
        &:hover {
            color:white;
        }
    }
    .nav-button {
        position: absolute;
        margin-left: auto; 
        right: 50px;
        background-color: white;
        border-radius: 5px;
        font-size: 12px;
        padding: 8px 10px;
        color: $gray-darker;
        border: 2px solid $gray-lighter;
    }   
    .nav-list {
        list-style-type: none;
        display: none;
    }
    .nav-link {
        @include heading-font;
        text-decoration: none;
        &:hover {
            color: $theme-primary;
        }
        
    }
    .nav-list-upper {
        @include alt-font;
        position: absolute;
        list-style-type: none;
        display: flex;
        top: 6px;
        right: 20%;
    }
    .nav-link-upper {
        @include heading-font;
        margin-left: 20px;
        text-decoration: none;
        color: $theme-primary;
        &:hover {
            color: white !important;
        }
                
    }
}

.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 70px;
    text-align: center;
    background: url("/dist/img/bg-pattern.png"), linear-gradient(to left, $theme-secondary, $theme-tertiary);
    .main-content-text {
        padding-bottom: 100px;
        
    }
}


.main-button {        
    @include alt-font;
    background: none;
    border-radius: 30px;
    color: white;
    padding: 20px 50px;
    border: 2px solid white;
    &:hover {
        color: white;
        border-color: $theme-primary;
        background-color: $theme-primary;
        transition: 300ms;
    }
}

.iphone {
    position: relative;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 700px;

}

.iphone-2 {
    position: relative;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 700px;

}

.picture-container {
    position: absolute;
    margin-top: 110px;
    margin-left: 20px;
    margin-right: 20px;
    top: 0;
    left: 0;   
}

.picture-container-2 {
    position: absolute;
    margin-top: 110px;
    margin-left: 20px;
    margin-right: 20px;
    top: 0;
    left: 0;   
}
.image {
    max-width: 100%;
    max-height: 100%;
}

.download-content {
    text-align: center;
    padding: 150px 80px;
    background: linear-gradient($theme-primary, darken($theme-primary, 5%));
    .download-text {
        font-size: 1.5rem;
    }
    .badges {
        .badge-link {
            display: block;
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
            img {
                height: 60px;
            }
        }
    }
}

.features-header {
    padding-bottom: 70px;
}

.features-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 70px;
    text-align: center;
}

.features-icons {
    padding-top: 100px;
    position: relative;
}

.features-item {
    padding: 60px 70px;
}

.text-primary {
    font-size: 80px;      
    background:-moz-linear-gradient(left, $theme-tertiary 0%, $theme-secondary 100%); 
    background: -webkit-linear-gradient(left, $theme-tertiary 0%, $theme-secondary 100%); 
    background: linear-gradient(to right, $theme-tertiary 0%, $theme-secondary 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
    
}

.icon-text {
    font-size: 1.2rem;
    color: $gray-light;
}

section.cta {
    position: relative;
    display: flex;
    padding: 250px 0;
    background-image: url('../img/bg-cta.jpg');
    background-position: center;
    @include background-cover;
    .cta-content {    
        position: relative;
        z-index: 1;
        h2 {
            display: block;
            margin-left: 70px;
            font-size: 50px;
            max-width: 450px;
            margin-top: 0;
            margin-bottom: 25px;
            color: white;
        }
        .main-button {
            margin-left: 70px;
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: fade-out(black, .5);
    }
}

.contact {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 100px 70px;
    background: $theme-primary;
    background: -webkit-linear-gradient($theme-primary, darken($theme-primary, 5%));
    background: linear-gradient($theme-primary, darken($theme-primary, 5%));
    h2 {
        margin-top: 0;
        margin-bottom: 25px;
        i {
            color: $brand-google-plus;
        }
    }
    .list-social {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        li {
            display: inline-block;
            a {
                font-size: 40px;
                line-height: 80px;
                display: block;
                width: 80px;
                height: 80px;
                color: white;
                border-radius: 100%;
            }
            &.social-twitter {
                a {
                    background-color: $brand-twitter;
                    &:hover {
                        background-color: darken($brand-twitter, 5%);
                    }
                }
            }
            &.social-facebook {
                a {
                    background-color: $brand-facebook;
                    &:hover {
                        background-color: darken($brand-facebook, 5%);
                    }
                }
            }
            &.social-google-plus {
                a {
                    background-color: $brand-google-plus;
                    &:hover {
                        background-color: darken($brand-google-plus, 5%);
                    }
                }
            }
        }
    }
}

footer {
    padding: 25px 0;
    text-align: center;
    color: fade-out(white, .7);
    background-color: $gray-darker;
    p {
        font-size: 12px;
        margin: 0;
    }
    ul {
        margin-bottom: 0;
        list-style: none;
        padding-left: 0;
        li {
            display: inline-block;
            text-decoration: none;
            a {
                font-size: 12px;
                color: fade-out(white, .7);
                text-decoration: none;
                &:hover,
                &:focus,
                &:active,
                &.active {
                    color: $theme-primary;
                }
            }
        }
    }
}

.social-twitter:hover .tooltip {
    display: block;
}

.social-facebook:hover .tooltip {
    display: block;
}

.social-google-plus:hover .tooltip {
    display: block;
}

.tooltip {
    display: none;
    color: $gray;
    padding: 5px;
    background: $gray-lighter;
    margin-left: 0px;
    margin-top: -105px; 
    position: absolute;
    z-index: 1000;
}

#privacy, #terms, #faq {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.75);
    display:none;
  }

#privacy .popup-content, #terms .popup-content, #faq .popup-content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:400px;
    padding:10px 20px;
    background:#eee;
}

#privacy a.close-popup, #terms a.close-popup, #faq a.close-popup {
    position:absolute;
    top:20px;
    right:20px;
    font-size:20px;
    font-weight:600;
    text-decoration:none;
  }

#privacy:target, #terms:target, #faq:target {
    display:block;
  }

  @media (max-width: 992px) {
    .upper-menu {
        display: none;
      }
  }

  @media (max-width: 992px) {
    .fixed {
      background-color: white;
    }
}


  @media (min-width: 992px) {
    .nav-button {
      display: none;
    }
  }

  @media (min-width: 992px) {
  .mobile-menu {
    display: none;
    }
  }

  @media (min-width: 992px) {
    .main-content {
      flex-direction: row;
      }
    .main-content-text {
        max-width: 40%;     
        margin-top: 100px;   
        margin-left: 10px;
        text-align: left;
        margin-right: 10px;
    
    }
    .iphone {
        margin-left: auto;
        margin-right: 18%;
    }
 }
    
 @media (min-width: 992px) {
    .iphone-2 {
        position: absolute;
        margin-top: 200px;
        margin-left: 50px;
    }

    .features-icons {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0;
        margin-left: 500px; 
    }

    .features-item {
        max-width: 30%;
        padding: 30px 40px 0 0;
     }

 }

 @media (min-width: 1200px) {
    section.cta {
        margin-top: 100px;        
    }
    .features-icons {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0;
        margin-left: 600px; 
    }
    
}



    